@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));

:root {
  --background: hsla(0, 0%, 100%);
  --muted: hsla(0, 0%, 60%);
  --accent: hsla(0, 0%, 90%);
  --primary: hsla(0, 0%, 100%);
  --foreground: hsla(0, 0%, 0%);
  --secondary: hsla(0, 0%, 10%);
  --tertiary: hsla(0, 0%, 20%);
}
[data-theme="dark"] {
  --background: hsla(0, 0%, 0%);
  --muted: hsla(0, 0%, 60%);
  --accent: hsla(0, 0%, 90%);
  --primary: hsla(0, 0%, 100%);
  --foreground: hsla(0, 0%, 100%);
  --secondary: hsla(0, 0%, 10%);
  --tertiary: hsla(0, 0%, 20%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --radius-default: 0.625rem;
  --radius-md: 0.625rem;
  --radius-lg: 0.9375rem;
  --radius-xl: 1.25rem;
  --radius-2xl: 1.875rem;
  --radius-3xl: 2.5rem;
}


body {
  background: var(--background);
  color: var(--foreground);
}
